<table>
	<tr>
		<th>Name</th>
		<th>Course</th>
		<th>ID Num</th>
		<th>Prelim Exam</th>
		<th>Midterm Exam</th>
		<th>Prefinal Exam</th>
		<th>Final Exam</th>
	</tr>

	<% @grades.each do |grade| %>
		<td><%= grade.name %></td>
		<td><%= grade.course %></td>
		<td><%= grade.id_num %></td>
		<td><%= grade.prel_ex %></td>
		<td><%= grade.mid_ex %></td>
		<td><%= grade.pref_ex %></td>
		<td><%= grade.fin_ex %></td>
	

	<td>
		<a href="/grades/<%= grade.id %>">
		<%= grade.name %>

	</td>	


	<% end %>
</table>
