<div><h1>Name: <%= @grade.name %></h1></div>
<div><h2>Course: <%= @grade.course %></h2></div>
<div><h2>ID Number: <%= @grade.id_num %></h2></div></br>

<div><h4>Prelim Exam: <%= @grade.prel_ex %></h4></div>
<div><h4>Midterm Exam: <%= @grade.mid_ex %></h4></div>
<div><h4>Prefinal Exam: <%= @grade.pref_ex %></h4></div>
<div><h4>Final Exam: <%= @grade.fin_ex %></h4></div></br>

<div><h4>Average Grade: <%= @grade.fin_ex %></h4></div>




